.tile-container {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #f0f0f0;
  border-radius: 1%;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.tile-info {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: inherit;
  width: 95%;
  height: 84%;
  margin-left: 2%;
  margin-bottom: 5%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tile-image {
  width: 100%;
  height: 60%;
  border-radius: 1%;
}

.tile-title-container {
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  margin-top: 3%;
  margin-bottom: 3%;
}
.tile-title {
  font-weight: 500;
  font-size: 26px;
}

.tile-subtitle {
  font-size: 16px;
  color: #808080;
}

.tile-description-title {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 2%;
}

.tile-description-date {
  font-size: 14px;
}

.tile-description {
  font-size: 12px;
  margin-bottom: 2%;
}

.like-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-left: 5px;
  margin-bottom: 10px;
}
.like-button {
  width: 120px;
  height: 35px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: rgb(11, 61, 145);
    box-shadow: 0px 15px 20px rgba(252, 61, 33);
    color: #fff;
    transform: translateY(-7px);
  }
}
