.event-tile {
  &__container {
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #f0f0f0;
    border-radius: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%;
    @media (max-width: 900px) {
      width: 100%;
    }
  }

  &__title-container {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-top: 3%;
    margin-bottom: 3%;
  }

  &__info {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: inherit;
    width: 95%;
    height: 84%;
    margin-left: 2%;
    margin-bottom: 5%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  &__title {
    font-weight: 500;
    font-size: 26px;
  }

  &__subtitle {
    font-size: 16px;
    color: #808080;
  }

  &__image {
    width: 100%;
    height: 40%;
    border-radius: 1%;
    transition: transform 0.8s;

    &:hover {
      @media (max-width: 900px) {
        transform: none;
      }
      transform: scale(1.2);
    }
  }

  &__event-title {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 2%;
  }

  &__event-description {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    letter-spacing: 1.5px;
    font-size: 18px;
    margin-bottom: 2%;
  }

  &__date {
    font-size: 18px;
  }

  &__description-text {
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
  }

  &__description-container {
    background-color: yellowgreen;
  }

  &__like-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 5px;
    margin-bottom: 10px;
  }

  &__like {
    width: 120px;
    height: 35px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;

    // &:hover {
    //   background-color: rgb(11, 61, 145);
    //   box-shadow: 0px 15px 20px rgba(252, 61, 33);
    //   color: #fff;
    // }

    &:active {
      transform: translateY(-7px);
      background-color: rgb(11, 61, 145);
      box-shadow: 0px 15px 20px rgba(252, 61, 33);
    }
  }
  &__liked {
    width: 120px;
    height: 35px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    background-color: rgb(11, 61, 145);
    box-shadow: 0px 15px 20px rgba(252, 61, 33);
    border: none;
    border-radius: 45px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;

    &:active {
      background-color: rgb(11, 61, 145);
      box-shadow: 0px 15px 20px rgba(252, 61, 33);
      color: #fff;
      transform: translateY(-7px);
    }
  }
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
