@import "react-datepicker/dist/react-datepicker.css";
body {
  height: 100%;
  background-color: #cfcfcf;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
}

@media (max-width: 900px) {
  .header-container {
    height: 150px;
  }
}
.react-datepicker-wrapper {
  width: auto;
  padding-top: 15px;
  border: none;
}
.react-datepicker__input-container input {
  height: 30px;
  border-radius: 2%;
  border: none;
  text-align: center;
  outline: none;
}

.react-datepicker__input-container {
  border-radius: 1%;
}
